# Questions to the data
1. Does the number of hauses in all houses groups remain stable or there were a construction side finished in the given time frame?
2. What was the weather in the region?
3. What was the price for gas/oil/elictricity?

In [61]:
import pandas as pd
import numpy as np
from datetime import datetime
from typing import List, Tuple, Any

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import warnings
from data.starting_kit.utils import create_submission
from sklego.preprocessing import RepeatingBasisFunction
warnings.filterwarnings("ignore")

In [62]:
data = pd.read_csv('../data/public_data/train.csv')
final_index = data['pseudo_id']

In [63]:
# drop index for feature preparation
data_ = data.drop(columns='pseudo_id')
# convert dates to pandas datetime
data_.columns = [datetime.strptime(c, "%Y-%m-%d %H:%M:%S") for c in data_.columns]
data_.head()

,2017-01-01 00:00:00,2017-01-01 00:30:00,2017-01-01 01:00:00,2017-01-01 01:30:00,2017-01-01 02:00:00,2017-01-01 02:30:00,2017-01-01 03:00:00,2017-01-01 03:30:00,2017-01-01 04:00:00,2017-01-01 04:30:00,...,2019-08-28 19:00:00,2019-08-28 19:30:00,2019-08-28 20:00:00,2019-08-28 20:30:00,2019-08-28 21:00:00,2019-08-28 21:30:00,2019-08-28 22:00:00,2019-08-28 22:30:00,2019-08-28 23:00:00,2019-08-28 23:30:00
0,45.023,39.9850,36.5695,34.7480,35.972,38.439,36.591,36.3155,32.6605,0.1420,...,24.2880,23.994,26.1995,25.0270,23.0665,26.093,23.4295,25.4715,26.246,22.6020
1,2.931,1.6410,2.2600,2.2730,2.651,3.137,2.532,3.1420,2.5280,0.0000,...,2.5700,1.446,1.5230,1.5630,2.5880,2.190,1.4860,2.5270,2.288,1.7940
2,11.014,12.6525,10.8240,13.7485,12.383,12.342,13.413,11.4840,11.5105,0.0455,...,6.3565,5.766,5.4955,5.0885,6.8140,7.492,5.7705,6.8240,6.072,6.7205
3,55.813,49.0400,49.0950,41.1330,45.660,48.477,50.539,45.7370,42.6800,0.0000,...,32.6460,30.439,30.2470,31.2660,34.3390,33.076,33.1080,33.7260,30.009,34.8400
4,26.925,28.1180,25.6000,28.0910,26.530,23.858,26.556,27.7140,23.1740,0.0000,...,13.3980,13.280,13.7340,13.6060,14.7000,16.290,15.1240,15.3650,14.360,13.9350

# GROUP BY DAY

In [64]:
# Aggregate energy use values per day
data_ = data_.T.groupby(data_.T.index.date).sum()
data_.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
2017-01-01,1673.8655,143.162,586.9155,2094.588,1260.608,432.268,211.028,1191.6520,1456.7335,503.095,...,23.534,313.948,196.943,36.989,153.074,19.533,80.263,175.5120,40.8825,112.112
2017-01-02,1463.3230,130.557,532.9330,1845.933,1024.438,361.388,158.281,1022.2485,1319.9650,356.898,...,32.657,190.435,153.460,42.530,104.633,20.703,69.607,140.6670,31.2955,92.511
2017-01-03,1132.2910,99.234,407.0630,1475.750,725.995,279.199,125.445,765.0000,991.8735,257.116,...,15.138,110.994,88.819,33.476,79.647,14.527,38.887,108.7145,29.8745,64.486
2017-01-04,1183.8085,91.932,325.4720,1553.638,702.530,306.612,119.487,741.4780,1011.5705,278.864,...,19.211,55.876,78.585,30.363,75.137,16.648,53.533,117.0440,33.0020,54.094
2017-01-05,1125.2870,76.781,328.4645,1572.033,672.427,277.665,116.686,677.7000,1038.2905,284.385,...,10.200,57.125,79.498,30.640,76.458,17.598,48.185,119.8990,37.0340,48.022

In [65]:
# features["hour"] = data.index.hour
data_.columns = [c+1 for c in range(len(data_.columns))]
data_.head()

,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,60,61
2017-01-01,1673.8655,143.162,586.9155,2094.588,1260.608,432.268,211.028,1191.6520,1456.7335,503.095,...,23.534,313.948,196.943,36.989,153.074,19.533,80.263,175.5120,40.8825,112.112
2017-01-02,1463.3230,130.557,532.9330,1845.933,1024.438,361.388,158.281,1022.2485,1319.9650,356.898,...,32.657,190.435,153.460,42.530,104.633,20.703,69.607,140.6670,31.2955,92.511
2017-01-03,1132.2910,99.234,407.0630,1475.750,725.995,279.199,125.445,765.0000,991.8735,257.116,...,15.138,110.994,88.819,33.476,79.647,14.527,38.887,108.7145,29.8745,64.486
2017-01-04,1183.8085,91.932,325.4720,1553.638,702.530,306.612,119.487,741.4780,1011.5705,278.864,...,19.211,55.876,78.585,30.363,75.137,16.648,53.533,117.0440,33.0020,54.094
2017-01-05,1125.2870,76.781,328.4645,1572.033,672.427,277.665,116.686,677.7000,1038.2905,284.385,...,10.200,57.125,79.498,30.640,76.458,17.598,48.185,119.8990,37.0340,48.022

In [66]:
data_.tail()

,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,60,61
2019-08-24,1868.8055,164.618,591.8340,2320.420,1344.475,441.298,197.400,1254.0310,1609.6795,376.426,...,8.485,304.653,163.251,35.316,142.662,34.878,99.062,175.1965,39.1895,119.239
2019-08-25,1349.2125,112.434,368.2365,1808.059,806.568,309.580,127.497,845.2855,1198.7305,268.204,...,6.636,132.507,105.201,27.233,94.105,26.529,63.830,116.6430,38.6790,74.454
2019-08-26,1255.4520,95.373,250.1105,1712.203,707.746,286.692,140.510,710.8270,1069.1295,272.980,...,9.405,69.509,87.798,31.184,92.002,17.889,62.093,124.4755,32.6890,62.347
2019-08-27,1279.7365,103.733,210.3665,1652.541,704.239,313.001,125.637,728.5270,1089.4930,287.823,...,3.807,62.820,82.163,34.891,100.209,16.430,62.977,111.6950,25.0275,59.164
2019-08-28,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,5.509,77.663,74.817,25.212,73.528,13.629,48.472,74.8010,24.9380,54.552

In [67]:
# check wether datetime in ascending order , it is important for time series
print(data_.index.is_monotonic)

True

In [68]:
# Set dates for development phase
new_date_range = pd.date_range(start="2019-04-01", end="2019-09-04", freq="D")
# Add test dates in the data frame
data_ = data_.reindex(new_date_range)
# using dummy values in test set , fill_value = 100
# df_ = df_.T

#data_.head()

In [69]:
data_

,1,2,3,4,5,6,7,8,9,10,...,52,53,54,55,56,57,58,59,60,61
2019-04-01,2853.2180,186.783,543.0710,3395.435,1820.848,821.635,297.746,1779.3360,2713.5490,716.119,...,32.935,293.662,245.143,80.878,210.774,57.016,120.485,244.6710,76.2535,181.910
2019-04-02,3062.2365,237.937,736.2320,3606.995,1894.726,902.473,335.484,1922.6595,2793.0085,770.350,...,32.042,372.209,244.726,75.152,278.001,58.522,132.933,289.3000,96.1405,215.398
2019-04-03,3935.9800,298.059,941.8085,4488.140,2672.574,1108.149,391.764,2380.7210,3361.0830,929.588,...,47.996,567.363,313.667,90.844,351.721,85.646,165.802,358.2290,100.3645,277.137
2019-04-04,3427.4685,241.841,728.3470,4053.331,2088.122,918.774,385.364,2040.0370,2964.5215,784.625,...,43.350,416.331,290.620,74.842,319.316,73.028,143.664,312.6355,102.6860,203.728
2019-04-05,2712.7985,188.766,380.9225,3165.591,1569.395,733.520,281.320,1566.7325,2367.9860,654.183,...,28.232,185.906,206.245,67.961,184.108,52.768,110.620,237.6950,87.5670,134.729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
# saving indexes for next steps
idx_test_date = data_.index[data_[1].isna()]
idx_test_date

DatetimeIndex(['2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02',
               '2019-05-03', '2019-05-04', '2019-05-05', '2019-06-13',
               '2019-06-14', '2019-06-15', '2019-06-16', '2019-06-17',
               '2019-06-18', '2019-06-19', '2019-07-28', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02',
               '2019-08-03', '2019-08-29', '2019-08-30', '2019-08-31',
               '2019-09-01', '2019-09-02', '2019-09-03', '2019-09-04'],
              dtype='datetime64[ns]', freq=None)

In [71]:
data_ = data_.fillna(method="ffill")

In [72]:
#plt.rcParams.update({'figure.figsize':(9,3), 'figure.dpi':160})
#data_[1].plot()
#plt.title('Energy use forecasts for houshold group' + " 1")
#plt.show()

In [73]:
data_\
    .isna()\
    .sum()\
    .to_frame()\
    .assign(perc = lambda row: 100 * row[0] / data_.shape[0])\
    .rename(columns={0: 'Number of missed data  points', 'perc': '% of missed data points'})

    Number of missed data  points  % of missed data points
1                               0                      0.0
2                               0                      0.0
3                               0                      0.0
4                               0                      0.0
5                               0                      0.0
..                            ...                      ...
57                              0                      0.0
58                              0                      0.0
59                              0                      0.0
60                              0                      0.0
61                              0                      0.0

[61 rows x 2 columns]

# Adding features

In [74]:
df = data_.copy(deep=True)
df["weekday"] = data_.index.weekday
df["dayofyear"] = data_.index.dayofyear
df["month"] = data_.index.month
df["season"] = (data_.index.month % 12 + 3) // 3
df["is_weekend"] = data_.index.weekday.isin([5, 6]).astype(np.int32)

In [75]:
df_month = pd.get_dummies(df["month"], drop_first=True, prefix="month")
df_season = pd.get_dummies(df["season"], drop_first=True, prefix="season")
df_weekday = pd.get_dummies(df["weekday"], drop_first=True, prefix="weekday")
df = pd.concat([df, df_month, df_season, df_weekday], axis=1)
df.drop(columns=['month','season','weekday'], inplace=True)

In [76]:
rbf = RepeatingBasisFunction(n_periods=12,
                             column="dayofyear",
                             input_range=(1,365),
                             remainder="drop")

In [77]:
rbf.fit(df)
X_3 = pd.DataFrame(index=df.index,
                   data=rbf.transform(df))

In [78]:
X_3.columns = [str(c)+'_day_month' for c in range(len(X_3.columns))]

In [79]:
df = pd.concat([df, X_3], axis=1)

In [80]:
df

,1,2,3,4,5,6,7,8,9,10,...,2_day_month,3_day_month,4_day_month,5_day_month,6_day_month,7_day_month,8_day_month,9_day_month,10_day_month,11_day_month
2019-04-01,2853.2180,186.783,543.0710,3395.435,1820.848,821.635,297.746,1779.3360,2713.5490,716.119,...,3.925259e-01,9.989138e-01,3.440319e-01,0.016035,0.000101,8.635293e-08,9.976816e-12,3.441402e-16,1.929034e-11,1.463375e-07
2019-04-02,3062.2365,237.937,736.2320,3606.995,1894.726,902.473,335.484,1922.6595,2793.0085,770.350,...,3.678794e-01,1.000000e+00,3.678794e-01,0.018316,0.000123,1.125352e-07,1.388794e-11,2.319523e-16,1.388794e-11,1.125352e-07
2019-04-03,3935.9800,298.059,941.8085,4488.140,2672.574,1108.149,391.764,2380.7210,3361.0830,929.588,...,3.440319e-01,9.989138e-01,3.925259e-01,0.020875,0.000150,1.463375e-07,1.929034e-11,3.441402e-16,9.976816e-12,8.635293e-08
2019-04-04,3427.4685,241.841,728.3470,4053.331,2088.122,918.774,385.364,2040.0370,2964.5215,784.625,...,3.210317e-01,9.956621e-01,4.179142e-01,0.023740,0.000183,1.898798e-07,2.673609e-11,5.094813e-16,7.151579e-12,6.611833e-08
2019-04-05,2712.7985,188.766,380.9225,3165.591,1569.395,733.520,281.320,1566.7325,2367.9860,654.183,...,2.989187e-01,9.902663e-01,4.439785e-01,0.026939,0.000221,2.458430e-07,3.697532e-11,7.526222e-16,5.115262e-12,5.051527e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,3.018061e-16,1.729329e-11,1.341028e-07,0.000141,0.019989,3.842250e-01,9.995171e-01,3.518891e-01,1.676612e-02,1.081111e-04
2019-09-01,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,2.646158e-16,1.244116e-11,1.030519e-07,0.000116,0.017526,3.598389e-01,9.998792e-01,3.760088e-01,1.913637e-02,1.318050e-04
2019-09-02,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,3.923177e-16,8.931002e-12,7.901876e-08,0.000095,0.015333,3.362689e-01,9.980697e-01,4.009093e-01,2.179428e-02,1.603429e-04
2019-09-03,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,5.803849e-16,6.397282e-12,6.045892e-08,0.000077,0.013385,3.135604e-01,9.941003e-01,4.265307e-01,2.476745e-02,1.946361e-04
2019-09-04,1021.8995,78.113,214.3790,1326.983,573.143,235.565,95.400,616.3795,887.8410,228.176,...,8.567423e-16,4.572427e-12,4.615795e-08,0.000063,0.011659,2.917506e-01,9.879968e-01,4.528041e-01,2.808512e-02,2.357508e-04

In [81]:
def create_features(houshold_id,df=df) -> pd.DataFrame:
    df_new = df[[houshold_id, 'is_weekend',
                 #'month_2', 'month_3', 'month_4',
                 'month_5', 'month_6', 'month_7','month_8','month_9',
                 #'month_10','month_11','month_12',
                 #'season_2',
                 'season_3','season_4','weekday_1', 'weekday_2', 'weekday_3','weekday_4','weekday_5','weekday_6',
                 #'0_day_month','1_day_month','2_day_month','3_day_month','4_day_month','5_day_month','6_day_month','7_day_month','8_day_month','9_day_month','10_day_month','11_day_month'
                 ]]
    df_new['std'] = df_new[houshold_id].rolling(7).std().fillna(method="backfill")
    df_new['mean'] = df_new[houshold_id].rolling(7).mean().fillna(method="backfill")
    df_new['lag_1'] = df[houshold_id].shift(1).fillna(method="backfill")
    df_new['lag_2'] = df[houshold_id].shift(2).fillna(method="backfill")
    df_new['lag_3'] = df_new[houshold_id].shift(3).fillna(method="backfill")
    df_new['lag_4'] = df_new[houshold_id].shift(4).fillna(method="backfill")
    df_new['lag_5'] = df_new[houshold_id].shift(5).fillna(method="backfill")
    df_new['lag_6'] = df_new[houshold_id].shift(6).fillna(method="backfill")
    df_new['lag_7'] = df_new[houshold_id].shift(7).fillna(method="backfill")
    return df_new

In [82]:
create_features(1)

,1,is_weekend,month_5,month_6,month_7,month_8,month_9,season_3,season_4,weekday_1,...,weekday_6,std,mean,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7
2019-04-01,2853.2180,0,0,0,0,0,0,0,0,0,...,0,627.554028,2919.720214,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180
2019-04-02,3062.2365,0,0,0,0,0,0,0,0,1,...,0,627.554028,2919.720214,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180
2019-04-03,3935.9800,0,0,0,0,0,0,0,0,0,...,0,627.554028,2919.720214,3062.2365,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180
2019-04-04,3427.4685,0,0,0,0,0,0,0,0,0,...,0,627.554028,2919.720214,3935.9800,3062.2365,2853.2180,2853.2180,2853.2180,2853.2180,2853.2180
2019-04-05,2712.7985,0,0,0,0,0,0,0,0,0,...,0,627.554028,2919.720214,3427.4685,3935.9800,3062.2365,2853.2180,2853.2180,2853.2180,2853.2180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,1021.8995,1,0,0,0,1,0,1,0,0,...,0,148.552511,1138.857000,1021.8995,1021.8995,1021.8995,1279.7365,1255.4520,1349.2125,1868.8055
2019-09-01,1021.8995,1,0,0,0,0,1,0,1,0,...,1,120.091551,1092.098000,1021.8995,1021.8995,1021.8995,1021.8995,1279.7365,1255.4520,1349.2125
2019-09-02,1021.8995,0,0,0,0,0,1,0,1,0,...,0,97.453226,1058.733357,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995,1279.7365,1255.4520
2019-09-03,1021.8995,0,0,0,0,0,1,0,1,1,...,0,0.000034,1021.899500,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995,1279.7365
2019-09-04,1021.8995,0,0,0,0,0,1,0,1,0,...,0,0.000034,1021.899500,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995,1021.8995

In [83]:
def get_weeks(idx)-> List[List[pd._libs.tslibs.timestamps.Timestamp]]:
    idx = list(idx)
    weeks_to_predict = []
    week = []
    for i in range(1,len(idx)+1,1):
        #print(idx[i-1])
        if i%7 == 0:
            week.append(idx[i-1])
            weeks_to_predict.append(week)
            #print(week)
            week = []
        elif i%7 > 0:
            week.append(idx[i-1])
    return weeks_to_predict

In [84]:
weeks_test_date = get_weeks(idx_test_date)

In [85]:
weeks_test_date[0][6]

Timestamp('2019-05-05 00:00:00')

In [86]:
def data_split_accumlated(result, weeks, n, houshold) -> Tuple[Any, Any]:
    print(weeks[n])
    result_splitted = result[result.index < weeks[n][0]]
    result_splitted_features = result_splitted.drop([houshold], axis=1)
    result_splitted_target = result_splitted[houshold]
    print("target: ", result_splitted_target)
    result_splitted_to_predict = result[(result.index >= weeks[n][0]) & (result.index <= weeks[n][6])]
    result_splitted_to_predict_features = result_splitted_to_predict.drop([houshold], axis=1)
    result_splitted_to_predict_target = result_splitted_to_predict[houshold]
    result_splitted_to_predict_target = result_splitted_to_predict_target.to_frame()

    return result_splitted_features, result_splitted_target, result_splitted_to_predict_features, result_splitted_to_predict_target

In [87]:
all_predictions = []
 
for houshold in data_.columns:
    houshold_predictions = []
    print("***** Houshold " + str(houshold) + " dataset created ****** ")
    for week in range(len(weeks_test_date)):
        #print("week "+  str(week) + " splitting started")
        result = create_features(houshold)
        features, target, features_predict, target_predict = data_split_accumlated(result, weeks_test_date, week, houshold)
        model_linear = LinearRegression()
        model_linear.fit(features, target)
        print("trained on " + str(week))
        prediction = model_linear.predict(features_predict)
        houshold_predictions.append(prediction)
        week_timestamps = weeks_test_date[week]
        target_predict['predict'] = prediction
        df.loc[week_timestamps[0]:week_timestamps[6],houshold] = target_predict['predict']
        print("=============================================")
        print(prediction)
        #print(df.loc[week_timestamps[0]:week_timestamps[6],houshold])
        print("=============================================")
    all_predictions.append(houshold_predictions)

***** Houshold 1 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    2853.2180
2019-04-02    3062.2365
2019-04-03    3935.9800
2019-04-04    3427.4685
2019-04-05    2712.7985
2019-04-06    2354.3905
2019-04-07    2091.9495
2019-04-08    2758.3585
2019-04-09    3514.5575
2019-04-10    3665.8395
2019-04-11    3367.1005
2019-04-12    2958.3540
2019-04-13    2422.4110
2019-04-14    2350.1320
2019-04-15    2986.8305
2019-04-16    3797.2145
2019-04-17    2981.9895
2019-04-18    2350.5830
2019-04-19    2411.6165
2019-04-20    2394.4400
2019-04-21    2194.4385
2019-04-22    3099.6380
2019-04-23    3441.0740
2019-04-24    3602.2455
2019-04-25    2756.7650
2019-04-26    2432.2695
2019-04-27    2160.2425
2019-04-28    2321.5155
Freq: D, Name: 1, dtype: float64
trained on 0
=============================================
[2749.33625423 2749.92231983 2162.13310356 1797.8254322  1660.78763702
 1308.58248715 1101.5899127 ]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    2853.2180
2019-04-02    3062.2365
2019-04-03    3935.9800
2019-04-04    3427.4685
2019-04-05    2712.7985
                ...
2019-06-08    2031.8490
2019-06-09    2847.8040
2019-06-10    3046.1515
2019-06-11    2821.8925
2019-06-12    2278.8355
Freq: D, Name: 1, Length: 73, dtype: float64
trained on 1
=============================================
[2214.41182619 2238.19022755 2264.09455755 2296.76958839 2132.50044826
 1758.67163995 1772.25117268]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    2853.2180
2019-04-02    3062.2365
2019-04-03    3935.9800
2019-04-04    3427.4685
2019-04-05    2712.7985
                ...
2019-07-23    1568.2265
2019-07-24    1470.0670
2019-07-25    1497.7675
2019-07-26    1953.2775
2019-07-27    2107.7125
Freq: D, Name: 1, Length: 118, dtype: float64
trained on 2
=============================================
[2027.01423533 1949.81981273 1855.10998092 1895.31134167 1840.03957642
 1875.22969265 1862.80381963]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    2853.2180
2019-04-02    3062.2365
2019-04-03    3935.9800
2019-04-04    3427.4685
2019-04-05    2712.7985
                ...
2019-08-24    1868.8055
2019-08-25    1349.2125
2019-08-26    1255.4520
2019-08-27    1279.7365
2019-08-28    1021.8995
Freq: D, Name: 1, Length: 150, dtype: float64
trained on 3
=============================================
[1097.43815886 1122.32625198  996.94574951  810.54725351  798.87264034
  719.64719027  749.1239968 ]
=============================================
***** Houshold 2 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    186.783
2019-04-02    237.937
2019-04-03    298.059
2019-04-04    241.841
2019-04-05    188.766
2019-04-06    162.437
2019-04-07    129.432
2019-04-08    180.823
2019-04-09    216.576
2019-04-10    200.658
2019-04-11    190.200
2019-04-12    200.366
2019-04-13    153.042
2019-04-14    144.185
2019-04-15    200.588
2019-04-16    258.387
2019-04-17    225.654
2019-04-18    182.981
2019-04-19    159.133
2019-04-20    164.930
2019-04-21    152.761
2019-04-22    220.267
2019-04-23    255.371
2019-04-24    273.563
2019-04-25    203.450
2019-04-26    159.119
2019-04-27    149.351
2019-04-28    148.503
Freq: D, Name: 2, dtype: float64
trained on 0
=============================================
[189.62448434 228.66954313 221.22119457 191.31305403 187.3800622
 172.31351455 162.56402373]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    186.783
2019-04-02    237.937
2019-04-03    298.059
2019-04-04    241.841
2019-04-05    188.766
               ...
2019-06-08    136.425
2019-06-09    198.743
2019-06-10    186.327
2019-06-11    183.666
2019-06-12    174.940
Freq: D, Name: 2, Length: 73, dtype: float64
trained on 1
=============================================
[157.96163604 177.0084722  184.6692704  185.56650677 179.13719975
 178.41773546 176.14882171]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    186.783
2019-04-02    237.937
2019-04-03    298.059
2019-04-04    241.841
2019-04-05    188.766
               ...
2019-07-23    141.552
2019-07-24    113.286
2019-07-25    118.457
2019-07-26    153.673
2019-07-27    174.412
Freq: D, Name: 2, Length: 118, dtype: float64
trained on 2
=============================================
[176.1351246  166.99032718 162.19183492 165.89917486 170.22350881
 178.71101859 182.0168279 ]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    186.783
2019-04-02    237.937
2019-04-03    298.059
2019-04-04    241.841
2019-04-05    188.766
               ...
2019-08-24    164.618
2019-08-25    112.434
2019-08-26     95.373
2019-08-27    103.733
2019-08-28     78.113
Freq: D, Name: 2, Length: 150, dtype: float64
trained on 3
=============================================
[87.55233409 92.41944842 84.87358237 82.88223868 78.70499666 78.00477095
 78.5319198 ]
=============================================
***** Houshold 3 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    543.0710
2019-04-02    736.2320
2019-04-03    941.8085
2019-04-04    728.3470
2019-04-05    380.9225
2019-04-06    257.3030
2019-04-07    217.1475
2019-04-08    380.6865
2019-04-09    787.8795
2019-04-10    889.7185
2019-04-11    712.5025
2019-04-12    551.9705
2019-04-13    417.5535
2019-04-14    334.5895
2019-04-15    580.1870
2019-04-16    919.7450
2019-04-17    604.8945
2019-04-18    345.3760
2019-04-19    303.3490
2019-04-20    290.6035
2019-04-21    328.8270
2019-04-22    700.7300
2019-04-23    808.5600
2019-04-24    822.0630
2019-04-25    458.5540
2019-04-26    287.0985
2019-04-27    238.9705
2019-04-28    305.3675
Freq: D, Name: 3, dtype: float64
trained on 0
=============================================
[443.38255961 549.83328182 198.34389645  73.9713096   69.99378039
  65.37695969  -6.3273495 ]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    543.0710
2019-04-02    736.2320
2019-04-03    941.8085
2019-04-04    728.3470
2019-04-05    380.9225
                ...
2019-06-08    303.1880
2019-06-09    579.7120
2019-06-10    748.0885
2019-06-11    647.4445
2019-06-12    506.0990
Freq: D, Name: 3, Length: 73, dtype: float64
trained on 1
=============================================
[412.65322329 399.93394182 407.12748185 438.83899351 400.43894255
 299.73677067 283.94435162]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    543.0710
2019-04-02    736.2320
2019-04-03    941.8085
2019-04-04    728.3470
2019-04-05    380.9225
                ...
2019-07-23    379.9675
2019-07-24    292.0200
2019-07-25    258.2390
2019-07-26    464.7765
2019-07-27    536.7995
Freq: D, Name: 3, Length: 118, dtype: float64
trained on 2
=============================================
[502.44656245 485.9998574  456.84099616 440.84062066 437.38024239
 441.05251028 435.65835953]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    543.0710
2019-04-02    736.2320
2019-04-03    941.8085
2019-04-04    728.3470
2019-04-05    380.9225
                ...
2019-08-24    591.8340
2019-08-25    368.2365
2019-08-26    250.1105
2019-08-27    210.3665
2019-08-28    214.3790
Freq: D, Name: 3, Length: 150, dtype: float64
trained on 3
=============================================
[274.0422206  299.58068398 201.86470592 114.35860508 115.11157901
 113.17678458 114.39517603]
=============================================
***** Houshold 4 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    3395.435
2019-04-02    3606.995
2019-04-03    4488.140
2019-04-04    4053.331
2019-04-05    3165.591
2019-04-06    2765.974
2019-04-07    2381.878
2019-04-08    3225.079
2019-04-09    4394.217
2019-04-10    4642.850
2019-04-11    4186.282
2019-04-12    3713.384
2019-04-13    2932.489
2019-04-14    2840.593
2019-04-15    3479.758
2019-04-16    4261.173
2019-04-17    3518.213
2019-04-18    2704.651
2019-04-19    2869.981
2019-04-20    2839.115
2019-04-21    2609.362
2019-04-22    3635.674
2019-04-23    3931.687
2019-04-24    4147.015
2019-04-25    3245.985
2019-04-26    2796.289
2019-04-27    2513.035
2019-04-28    2654.047
Freq: D, Name: 4, dtype: float64
trained on 0
=============================================
[3407.03860957 3553.22022623 2895.94767422 2224.4884309  2100.29035714
 1587.08817626 1338.59845684]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    3395.435
2019-04-02    3606.995
2019-04-03    4488.140
2019-04-04    4053.331
2019-04-05    3165.591
                ...
2019-06-08    2401.277
2019-06-09    3531.926
2019-06-10    3753.925
2019-06-11    3431.552
2019-06-12    2840.970
Freq: D, Name: 4, Length: 73, dtype: float64
trained on 1
=============================================
[2779.85202585 2901.87948008 2886.65084143 2880.05358039 2831.54637448
 2560.51708742 2602.31467044]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    3395.435
2019-04-02    3606.995
2019-04-03    4488.140
2019-04-04    4053.331
2019-04-05    3165.591
                ...
2019-07-23    2062.798
2019-07-24    1795.480
2019-07-25    1835.073
2019-07-26    2363.302
2019-07-27    2524.291
Freq: D, Name: 4, Length: 118, dtype: float64
trained on 2
=============================================
[2434.80227898 2400.0658132  2289.27790706 2334.21147729 2346.03143357
 2377.2662313  2354.98491422]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    3395.435
2019-04-02    3606.995
2019-04-03    4488.140
2019-04-04    4053.331
2019-04-05    3165.591
                ...
2019-08-24    2320.420
2019-08-25    1808.059
2019-08-26    1712.203
2019-08-27    1652.541
2019-08-28    1326.983
Freq: D, Name: 4, Length: 150, dtype: float64
trained on 3
=============================================
[1413.09024578 1457.18643048 1347.58846533 1331.31154688 1336.82954681
 1243.63495276 1271.78110352]
=============================================
***** Houshold 5 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    1820.848
2019-04-02    1894.726
2019-04-03    2672.574
2019-04-04    2088.122
2019-04-05    1569.395
2019-04-06    1377.674
2019-04-07    1109.338
2019-04-08    1589.556
2019-04-09    2123.920
2019-04-10    2327.729
2019-04-11    2151.332
2019-04-12    1724.216
2019-04-13    1408.673
2019-04-14    1375.337
2019-04-15    1977.801
2019-04-16    2489.357
2019-04-17    1828.249
2019-04-18    1441.622
2019-04-19    1501.087
2019-04-20    1390.702
2019-04-21    1357.057
2019-04-22    1946.521
2019-04-23    2262.926
2019-04-24    2281.828
2019-04-25    1545.522
2019-04-26    1349.227
2019-04-27    1189.354
2019-04-28    1260.433
Freq: D, Name: 5, dtype: float64
trained on 0
=============================================
[1777.25625264 1652.79042846 1570.37849281 1146.58060885 1146.53593006
  852.68277714  806.05500022]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    1820.848
2019-04-02    1894.726
2019-04-03    2672.574
2019-04-04    2088.122
2019-04-05    1569.395
                ...
2019-06-08    1219.564
2019-06-09    1796.029
2019-06-10    1936.145
2019-06-11    1792.123
2019-06-12    1408.509
Freq: D, Name: 5, Length: 73, dtype: float64
trained on 1
=============================================
[1311.23136293 1289.19135691 1301.41651878 1396.80146917 1327.24910101
 1069.03830546 1035.71070869]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    1820.848
2019-04-02    1894.726
2019-04-03    2672.574
2019-04-04    2088.122
2019-04-05    1569.395
                ...
2019-07-23     978.061
2019-07-24     874.901
2019-07-25     869.480
2019-07-26    1437.345
2019-07-27    1558.130
Freq: D, Name: 5, Length: 118, dtype: float64
trained on 2
=============================================
[1511.87502665 1480.0359033  1345.1021556  1385.86870221 1293.78510674
 1368.59394631 1361.66696038]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    1820.848
2019-04-02    1894.726
2019-04-03    2672.574
2019-04-04    2088.122
2019-04-05    1569.395
                ...
2019-08-24    1344.475
2019-08-25     806.568
2019-08-26     707.746
2019-08-27     704.239
2019-08-28     573.143
Freq: D, Name: 5, Length: 150, dtype: float64
trained on 3
=============================================
[683.65716624 657.05127615 501.01909468 308.30311045 302.62046009
 240.95638604 260.19647684]
=============================================
***** Houshold 6 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01     821.635
2019-04-02     902.473
2019-04-03    1108.149
2019-04-04     918.774
2019-04-05     733.520
2019-04-06     614.927
2019-04-07     536.482
2019-04-08     731.752
2019-04-09     981.863
2019-04-10    1075.999
2019-04-11     961.995
2019-04-12     789.098
2019-04-13     648.585
2019-04-14     591.006
2019-04-15     795.864
2019-04-16     987.338
2019-04-17     822.045
2019-04-18     628.843
2019-04-19     646.679
2019-04-20     634.983
2019-04-21     617.696
2019-04-22     912.557
2019-04-23     998.525
2019-04-24     949.758
2019-04-25     711.814
2019-04-26     607.483
2019-04-27     544.714
2019-04-28     593.409
Freq: D, Name: 6, dtype: float64
trained on 0
=============================================
[883.71391279 801.20846673 695.81342867 505.95854866 535.99430791
 435.65717212 407.02861467]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01     821.635
2019-04-02     902.473
2019-04-03    1108.149
2019-04-04     918.774
2019-04-05     733.520
                ...
2019-06-08     491.731
2019-06-09     744.106
2019-06-10     858.735
2019-06-11     765.458
2019-06-12     623.784
Freq: D, Name: 6, Length: 73, dtype: float64
trained on 1
=============================================
[561.57526548 547.43175763 526.7018079  591.95865517 551.58091726
 405.09427749 406.17927365]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01     821.635
2019-04-02     902.473
2019-04-03    1108.149
2019-04-04     918.774
2019-04-05     733.520
                ...
2019-07-23     403.853
2019-07-24     351.875
2019-07-25     360.470
2019-07-26     519.616
2019-07-27     526.740
Freq: D, Name: 6, Length: 118, dtype: float64
trained on 2
=============================================
[488.74654237 477.63873592 422.18239031 429.22237051 379.48222905
 405.17437302 393.94385715]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01     821.635
2019-04-02     902.473
2019-04-03    1108.149

In [88]:
weeks_columns = [week for weeks in weeks_test_date for week in weeks]
weeks_columns

[Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-04 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-15 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-03 00:00:00'),
 Timestamp('2019-08-29 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-01 00:00:00'),
 Timestamp('2019-09-02 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-04 00:00:00')]

In [89]:
def flatten(hous):
    return [week for weeks in hous for week in weeks]

In [90]:
flatened_predictions = []
for hous in all_predictions:
    flatened_predictions.append(flatten(hous))

In [91]:
df_from_list = pd.DataFrame([i for i in flatened_predictions], columns= [weeks_columns],index = final_index)

In [92]:
df_from_list.reset_index(inplace = True)

In [93]:
df_from_list.to_csv("./sample_submission_daily_max_new_features.csv", index = False)

In [94]:
df_from_list

,pseudo_id,2019-04-29 00:00:00,2019-04-30 00:00:00,2019-05-01 00:00:00,2019-05-02 00:00:00,2019-05-03 00:00:00,2019-05-04 00:00:00,2019-05-05 00:00:00,2019-06-13 00:00:00,2019-06-14 00:00:00,...,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-29 00:00:00,2019-08-30 00:00:00,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00
0,0x16cb02173ebf3059efdc97fd1819f14a2,2749.336254,2749.922320,2162.133104,1797.825432,1660.787637,1308.582487,1101.589913,2214.411826,2238.190228,...,1840.039576,1875.229693,1862.803820,1097.438159,1122.326252,996.945750,810.547254,798.872640,719.647190,749.123997
1,0x1c9d08cd16fce04790ef900695861e786,189.624484,228.669543,221.221195,191.313054,187.380062,172.313515,162.564024,157.961636,177.008472,...,170.223509,178.711019,182.016828,87.552334,92.419448,84.873582,82.882239,78.704997,78.004771,78.531920
2,0x1612e4cbe3b1b85c3dbcaeaa504ee8424,443.382560,549.833282,198.343896,73.971310,69.993780,65.376960,-6.327350,412.653223,399.933942,...,437.380242,441.052510,435.658360,274.042221,299.580684,201.864706,114.358605,115.111579,113.176785,114.395176
3,0x20158d36236a640cf0524dba149459169,3407.038610,3553.220226,2895.947674,2224.488431,2100.290357,1587.088176,1338.598457,2779.852026,2901.879480,...,2346.031434,2377.266231,2354.984914,1413.090246,1457.186430,1347.588465,1331.311547,1336.829547,1243.634953,1271.781104
4,0xc305005dcb1ed6128d816954c5ab9e7e,1777.256253,1652.790428,1570.378493,1146.580609,1146.535930,852.682777,806.055000,1311.231363,1289.191357,...,1293.785107,1368.593946,1361.666960,683.657166,657.051276,501.019095,308.303110,302.620460,240.956386,260.196477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0x12342fbadc0ca9418f2d540bb3cb8364a,56.014758,50.561924,38.231982,29.329684,28.698667,24.795205,17.145807,34.354503,35.337982,...,22.849192,23.101131,22.881758,16.088290,16.661553,15.222376,14.386588,13.558478,12.227614,13.755472
57,0x16d1816bc5d185c47de080d4c6a64bc9a,119.265677,119.920012,114.523682,110.794677,103.692667,93.104120,74.208723,107.673003,109.232395,...,86.918489,86.943382,87.635241,52.666711,54.361762,51.446755,50.254248,49.614304,47.857891,49.132625
58,0x14f480f24c435af1b8574c1c6bab38a1c,235.991761,289.052452,114.896822,85.876787,45.691007,3.106126,-21.976736,171.759566,182.275705,...,225.887585,228.079196,226.538889,76.839577,83.407569,73.114843,72.051302,69.882525,63.612480,67.078942
59,0x1c7fc724d0a4f89ed1de8a0a4b302db22,56.371928,64.137472,49.023510,37.646826,40.065845,27.838957,19.422855,50.713224,53.709922,...,54.084869,56.389390,55.766317,24.525142,25.603388,24.593945,19.086438,17.784886,17.487447,17.857932
60,0x187454451b5ef5c6ad7377c21d9adbfe2,191.814504,189.709948,196.118152,129.694085,139.694280,99.919181,132.707383,93.331995,95.766547,...,94.869607,102.252088,98.886727,68.450552,68.001219,50.851797,28.535890,25.525947,23.114694,24.862155

In [95]:
#daily = pd.read_csv("./sample_submission_daily_max.csv")
#hourly = pd.read_csv("./sample_submission_hourly_max.csv")

In [96]:
#create_submission(daily,hourly)