# Questions to the data
1. Does the number of hauses in all houses groups remain stable or there were a construction side finished in the given time frame?
2. What was the weather in the region?
3. What was the price for gas/oil/elictricity?

In [190]:
import pandas as pd
import numpy as np
from datetime import datetime
from typing import List, Tuple, Any
import time
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
import warnings
from data.starting_kit.utils import create_submission
from sklego.preprocessing import RepeatingBasisFunction
warnings.filterwarnings("ignore")

In [191]:
data_original = pd.read_csv('../data/public_data/train.csv')
final_index = data_original['pseudo_id']

In [192]:

data_filtered = pd.read_csv('../data/train_filtered.csv')

In [193]:
# drop index for feature preparation
data_ = data_filtered.drop(columns='pseudo_id')
# convert dates to pandas datetime
data_.columns = [datetime.strptime(c, "%Y-%m-%d %H:%M:%S") for c in data_.columns]
data_.head()

,2017-01-01 00:00:00,2017-01-01 00:30:00,2017-01-01 01:00:00,2017-01-01 01:30:00,2017-01-01 02:00:00,2017-01-01 02:30:00,2017-01-01 03:00:00,2017-01-01 03:30:00,2017-01-01 04:00:00,2017-01-01 04:30:00,...,2019-08-28 19:00:00,2019-08-28 19:30:00,2019-08-28 20:00:00,2019-08-28 20:30:00,2019-08-28 21:00:00,2019-08-28 21:30:00,2019-08-28 22:00:00,2019-08-28 22:30:00,2019-08-28 23:00:00,2019-08-28 23:30:00
0,45.022999,39.985001,36.569500,34.748001,35.972000,38.438999,36.591000,36.315498,32.660500,31.564501,...,24.2880,23.994,26.1995,25.0270,23.0665,26.093,23.4295,25.4715,26.246,22.6020
1,2.931000,1.641000,2.260000,2.273000,2.651000,3.137000,2.532000,3.142000,2.528000,2.637000,...,2.5700,1.446,1.5230,1.5630,2.5880,2.190,1.4860,2.5270,2.288,1.7940
2,11.014000,12.652500,10.824001,13.748500,12.383000,12.342000,13.413000,11.484000,11.510500,11.480751,...,6.3565,5.766,5.4955,5.0885,6.8140,7.492,5.7705,6.8240,6.072,6.7205
3,55.813000,49.040001,49.095001,41.132999,45.660000,48.477001,50.539001,45.737000,42.680000,42.782501,...,32.6460,30.439,30.2470,31.2660,34.3390,33.076,33.1080,33.7260,30.009,34.8400
4,26.925001,28.118000,25.600000,28.091000,26.530001,23.858002,26.556000,27.714001,23.174002,23.545000,...,13.3980,13.280,13.7340,13.6060,14.7000,16.290,15.1240,15.3650,14.360,13.9350

# GROUP BY DAY

In [194]:
# Aggregate energy use values per day
data_ = data_.T.groupby(data_.T.index.date).sum()
data_.columns = [c+1 for c in range(len(data_.columns))]

In [196]:
# check wether datetime in ascending order , it is important for time series
print(data_.index.is_monotonic)

True

In [197]:
# Set dates for development phase
new_date_range = pd.date_range(start="2019-04-01", end="2019-09-04", freq="D")
# Add test dates in the data frame
data_ = data_.reindex(new_date_range)

In [198]:
# saving indexes for next steps
idx_test_date = data_.index[data_[1].isna()]

In [199]:
data_ = data_.fillna(method="ffill")

In [200]:
data_[data_.select_dtypes(np.float64).columns] = data_.select_dtypes(np.float64).astype(np.float32)

In [201]:
#plt.rcParams.update({'figure.figsize':(9,3), 'figure.dpi':160})
#data_[1].plot()
#plt.title('Energy use forecasts for houshold group' + " 1")
#plt.show()

In [202]:
data_\
    .isna()\
    .sum()\
    .to_frame()\
    .assign(perc = lambda row: 100 * row[0] / data_.shape[0])\
    .rename(columns={0: 'Number of missed data  points', 'perc': '% of missed data points'})

    Number of missed data  points  % of missed data points
1                               0                      0.0
2                               0                      0.0
3                               0                      0.0
4                               0                      0.0
5                               0                      0.0
..                            ...                      ...
57                              0                      0.0
58                              0                      0.0
59                              0                      0.0
60                              0                      0.0
61                              0                      0.0

[61 rows x 2 columns]

# Adding features

In [204]:
df = data_.copy(deep=True)
df["weekday"] = data_.index.weekday
df["dayofyear"] = data_.index.dayofyear
df["month"] = data_.index.month
df["season"] = (data_.index.month % 12 + 3) // 3
df["is_weekend"] = data_.index.weekday.isin([5, 6]).astype(np.int32)

In [205]:
df_month = pd.get_dummies(df["month"], drop_first=True, prefix="month")
df_season = pd.get_dummies(df["season"], drop_first=True, prefix="season")
df_weekday = pd.get_dummies(df["weekday"], drop_first=True, prefix="weekday")
df = pd.concat([df, df_month, df_season, df_weekday], axis=1)
df.drop(columns=['month','season','weekday'], inplace=True)

In [206]:
# rbf = RepeatingBasisFunction(n_periods=12, column="dayofyear", input_range=(1,365), remainder="drop")
# rbf.fit(df)
# X_3 = pd.DataFrame(index=df.index,  data=rbf.transform(df))
# X_3.columns = [str(c)+'_day_month' for c in range(len(X_3.columns))]
# #df = pd.concat([df, X_3], axis=1)

In [211]:
def create_features(houshold_id,df=df) -> pd.DataFrame:
    df_new = df[[houshold_id, 'is_weekend',
                 #'month_2', 'month_3', 'month_4',
                 'month_5', 'month_6', 'month_7','month_8','month_9',
                 #'month_10','month_11','month_12',
                 #'season_2',
                 'season_3','season_4','weekday_1', 'weekday_2', 'weekday_3','weekday_4','weekday_5','weekday_6',
                 #'0_day_month','1_day_month','2_day_month','3_day_month','4_day_month','5_day_month','6_day_month','7_day_month','8_day_month','9_day_month','10_day_month','11_day_month'
                 ]]
    df_new['std'] = df_new[houshold_id].rolling(7).std().fillna(method="backfill")
    df_new['mean'] = df_new[houshold_id].rolling(7).mean().fillna(method="backfill")
    df_new['lag_1'] = df[houshold_id].shift(1).fillna(method="backfill")
    df_new['lag_2'] = df[houshold_id].shift(2).fillna(method="backfill")
    df_new['lag_3'] = df_new[houshold_id].shift(3).fillna(method="backfill")
    df_new['lag_4'] = df_new[houshold_id].shift(4).fillna(method="backfill")
    df_new['lag_5'] = df_new[houshold_id].shift(5).fillna(method="backfill")
    df_new['lag_6'] = df_new[houshold_id].shift(6).fillna(method="backfill")
    df_new['lag_7'] = df_new[houshold_id].shift(7).fillna(method="backfill")
    return df_new

In [212]:
create_features(1)

,1,is_weekend,month_5,month_6,month_7,month_8,month_9,season_3,season_4,weekday_1,...,weekday_6,std,mean,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7
2019-04-01,3166.856934,0,0,0,0,0,0,0,0,0,...,0,638.963160,3149.839146,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934
2019-04-02,3846.906738,0,0,0,0,0,0,0,0,1,...,0,638.963160,3149.839146,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934
2019-04-03,3935.979980,0,0,0,0,0,0,0,0,0,...,0,638.963160,3149.839146,3846.906738,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934
2019-04-04,3508.844238,0,0,0,0,0,0,0,0,0,...,0,638.963160,3149.839146,3935.979980,3846.906738,3166.856934,3166.856934,3166.856934,3166.856934,3166.856934
2019-04-05,2712.798584,0,0,0,0,0,0,0,0,0,...,0,638.963160,3149.839146,3508.844238,3935.979980,3846.906738,3166.856934,3166.856934,3166.856934,3166.856934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-31,1021.899475,1,0,0,0,1,0,1,0,0,...,0,148.552525,1138.856986,1021.899475,1021.899475,1021.899475,1279.736450,1255.452026,1349.212524,1868.805542
2019-09-01,1021.899475,1,0,0,0,0,1,0,1,0,...,1,120.091556,1092.097979,1021.899475,1021.899475,1021.899475,1021.899475,1279.736450,1255.452026,1349.212524
2019-09-02,1021.899475,0,0,0,0,0,1,0,1,0,...,0,97.453216,1058.733329,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1279.736450,1255.452026
2019-09-03,1021.899475,0,0,0,0,0,1,0,1,1,...,0,0.000000,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1279.736450
2019-09-04,1021.899475,0,0,0,0,0,1,0,1,0,...,0,0.000000,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475,1021.899475

In [213]:
def get_weeks(idx)-> List[List[pd._libs.tslibs.timestamps.Timestamp]]:
    idx = list(idx)
    weeks_to_predict = []
    week = []
    for i in range(1,len(idx)+1,1):
        #print(idx[i-1])
        if i%7 == 0:
            week.append(idx[i-1])
            weeks_to_predict.append(week)
            #print(week)
            week = []
        elif i%7 > 0:
            week.append(idx[i-1])
    return weeks_to_predict

In [214]:
weeks_test_date = get_weeks(idx_test_date)

In [216]:
def data_split_accumlated(result, weeks, n, houshold) -> Tuple[Any, Any]:
    print(weeks[n])
    result_splitted = result[result.index < weeks[n][0]]
    result_splitted_features = result_splitted.drop([houshold], axis=1)
    result_splitted_target = result_splitted[houshold]
    print("target: ", result_splitted_target)
    result_splitted_to_predict = result[(result.index >= weeks[n][0]) & (result.index <= weeks[n][6])]
    result_splitted_to_predict_features = result_splitted_to_predict.drop([houshold], axis=1)
    result_splitted_to_predict_target = result_splitted_to_predict[houshold]
    result_splitted_to_predict_target = result_splitted_to_predict_target.to_frame()

    return result_splitted_features, result_splitted_target, result_splitted_to_predict_features, result_splitted_to_predict_target

In [217]:
all_predictions = []

start_time = time.time()

for houshold in data_.columns:
    houshold_predictions = []
    print("***** Houshold " + str(houshold) + " dataset created ****** ")
    for week in range(len(weeks_test_date)):
        #print("week "+  str(week) + " splitting started")
        result = create_features(houshold)
        features, target, features_predict, target_predict = data_split_accumlated(result, weeks_test_date, week, houshold)
        model_linear = LinearRegression()
        model_linear.fit(features, target)
        print("trained on " + str(week))
        prediction = model_linear.predict(features_predict)
        houshold_predictions.append(prediction)
        week_timestamps = weeks_test_date[week]
        target_predict['predict'] = prediction
        df.loc[week_timestamps[0]:week_timestamps[6],houshold] = target_predict['predict']
        print("=============================================")
        print(prediction)
        #print(df.loc[week_timestamps[0]:week_timestamps[6],houshold])
        print("=============================================")
    all_predictions.append(houshold_predictions)
print("--- %s seconds ---" % (time.time() - start_time))

***** Houshold 1 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    3166.856934
2019-04-02    3846.906738
2019-04-03    3935.979980
2019-04-04    3508.844238
2019-04-05    2712.798584
2019-04-06    2354.390625
2019-04-07    2523.096924
2019-04-08    2758.358398
2019-04-09    3514.557373
2019-04-10    3665.839600
2019-04-11    3367.100586
2019-04-12    2958.354004
2019-04-13    2422.410889
2019-04-14    2350.132080
2019-04-15    3132.182861
2019-04-16    3797.214600
2019-04-17    2981.989502
2019-04-18    2578.500977
2019-04-19    2462.043457
2019-04-20    2543.442383
2019-04-21    2710.635986
2019-04-22    3561.781738
2019-04-23    3753.532227
2019-04-24    3682.431152
2019-04-25    2756.764893
2019-04-26    2432.269531
2019-04-27    2407.176025
2019-04-28    2479.347900
Freq: D, Name: 1, dtype: float32
trained on 0
=============================================
[2832.50243222 3134.83331166 2407.56474253 2279.95537512 2168.57861696
 2034.39463173 2119.67201266]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    3166.856934
2019-04-02    3846.906738
2019-04-03    3935.979980
2019-04-04    3508.844238
2019-04-05    2712.798584
                 ...
2019-06-08    2031.848999
2019-06-09    2847.803955
2019-06-10    3046.151611
2019-06-11    2821.892578
2019-06-12    2278.835449
Freq: D, Name: 1, Length: 73, dtype: float32
trained on 1
=============================================
[2113.65444827 2104.67233853 2195.73515824 2284.65931708 2138.37035942
 1790.03251279 1716.92922975]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    3166.856934
2019-04-02    3846.906738
2019-04-03    3935.979980
2019-04-04    3508.844238
2019-04-05    2712.798584
                 ...
2019-07-23    1568.226562
2019-07-24    1470.067017
2019-07-25    1497.767456
2019-07-26    2035.784790
2019-07-27    2107.712402
Freq: D, Name: 1, Length: 118, dtype: float32
trained on 2
=============================================
[2023.79829287 1911.34580066 1862.74266525 1816.94928498 1850.34922285
 1859.7314616  1853.12392137]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    3166.856934
2019-04-02    3846.906738
2019-04-03    3935.979980
2019-04-04    3508.844238
2019-04-05    2712.798584
                 ...
2019-08-24    1868.805542
2019-08-25    1349.212524
2019-08-26    1255.452026
2019-08-27    1279.736450
2019-08-28    1021.899475
Freq: D, Name: 1, Length: 150, dtype: float32
trained on 3
=============================================
[1114.37932255 1172.60054172  995.45619782  833.62237515  834.5989004
  754.00829937  748.84836421]
=============================================
***** Houshold 2 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    209.307999
2019-04-02    296.131989
2019-04-03    300.235504
2019-04-04    247.296997
2019-04-05    188.766006
2019-04-06    162.436996
2019-04-07    157.589005
2019-04-08    180.822998
2019-04-09    218.915497
2019-04-10    202.278503
2019-04-11    194.016495
2019-04-12    201.915009
2019-04-13    155.915497
2019-04-14    144.184998
2019-04-15    208.770004
2019-04-16    258.386993
2019-04-17    225.654007
2019-04-18    201.014496
2019-04-19    162.285004
2019-04-20    177.104004
2019-04-21    189.942001
2019-04-22    250.805496
2019-04-23    277.798492
2019-04-24    284.206512
2019-04-25    204.865005
2019-04-26    159.119003
2019-04-27    164.809998
2019-04-28    160.233994
Freq: D, Name: 2, dtype: float32
trained on 0
=============================================
[152.2939834  193.30287278 170.90819252 168.35404808 163.38929799
 151.82310255 155.04886592]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    209.307999
2019-04-02    296.131989
2019-04-03    300.235504
2019-04-04    247.296997
2019-04-05    188.766006
                 ...
2019-06-08    136.425003
2019-06-09    201.303497
2019-06-10    186.326996
2019-06-11    188.195999
2019-06-12    177.645508
Freq: D, Name: 2, Length: 73, dtype: float32
trained on 1
=============================================
[171.87008275 172.48277968 186.24242661 179.98514878 172.37242674
 176.42726394 170.24494358]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    209.307999
2019-04-02    296.131989
2019-04-03    300.235504
2019-04-04    247.296997
2019-04-05    188.766006
                 ...
2019-07-23    142.279007
2019-07-24    117.020500
2019-07-25    118.457001
2019-07-26    160.541992
2019-07-27    178.296997
Freq: D, Name: 2, Length: 118, dtype: float32
trained on 2
=============================================
[178.77108023 171.63060445 170.30381486 172.86472786 181.17174555
 183.43950613 185.50951195]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    209.307999
2019-04-02    296.131989
2019-04-03    300.235504
2019-04-04    247.296997
2019-04-05    188.766006
                 ...
2019-08-24    164.617996
2019-08-25    112.433998
2019-08-26     95.373001
2019-08-27    103.733002
2019-08-28     78.112999
Freq: D, Name: 2, Length: 150, dtype: float32
trained on 3
=============================================
[83.29681354 85.78375679 77.514457   78.6231466  75.84335695 75.53036791
 76.88534408]
=============================================
***** Houshold 3 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    592.110474
2019-04-02    925.493896
2019-04-03    944.747498
2019-04-04    754.933472
2019-04-05    380.922485
2019-04-06    257.303009
2019-04-07    258.799988
2019-04-08    380.686493
2019-04-09    794.296265
2019-04-10    889.718506
2019-04-11    736.684265
2019-04-12    567.289001
2019-04-13    422.269745
2019-04-14    339.087494
2019-04-15    613.006226
2019-04-16    937.163513
2019-04-17    619.996277
2019-04-18    384.640259
2019-04-19    309.234985
2019-04-20    305.448242
2019-04-21    409.821503
2019-04-22    818.657776
2019-04-23    876.841248
2019-04-24    847.814514
2019-04-25    458.553986
2019-04-26    287.098511
2019-04-27    264.752991
2019-04-28    324.098999
Freq: D, Name: 3, dtype: float32
trained on 0
=============================================
[488.19280886 720.85262676 340.6134543  280.83626965 283.95217558
 314.85584682 266.73499912]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    592.110474
2019-04-02    925.493896
2019-04-03    944.747498
2019-04-04    754.933472
2019-04-05    380.922485
                 ...
2019-06-08    303.187988
2019-06-09    583.415222
2019-06-10    772.050720
2019-06-11    660.230469
2019-06-12    513.434998
Freq: D, Name: 3, Length: 73, dtype: float32
trained on 1
=============================================
[399.56781492 379.41586605 402.39786505 434.36701989 354.25371763
 283.82378983 236.15599474]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    592.110474
2019-04-02    925.493896
2019-04-03    944.747498
2019-04-04    754.933472
2019-04-05    380.922485
                 ...
2019-07-23    383.381989
2019-07-24    298.865753
2019-07-25    263.745239
2019-07-26    486.692993
2019-07-27    547.971741
Freq: D, Name: 3, Length: 118, dtype: float32
trained on 2
=============================================
[509.44951074 475.97338484 471.8221448  416.7467087  450.11729823
 429.69702177 424.8984094 ]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    592.110474
2019-04-02    925.493896
2019-04-03    944.747498
2019-04-04    754.933472
2019-04-05    380.922485
                 ...
2019-08-24    591.833984
2019-08-25    368.236511
2019-08-26    250.110504
2019-08-27    210.366501
2019-08-28    214.378998
Freq: D, Name: 3, Length: 150, dtype: float32
trained on 3
=============================================
[283.29777324 317.3270541  208.12513987 152.5146125  149.98234673
 166.86041746 148.93273112]
=============================================
***** Houshold 4 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    3780.554443
2019-04-02    4557.111816
2019-04-03    4488.140137
2019-04-04    4143.235840
2019-04-05    3165.591064
2019-04-06    2765.974121
2019-04-07    2860.453125
2019-04-08    3225.079102
2019-04-09    4394.216797
2019-04-10    4642.850098
2019-04-11    4254.790039
2019-04-12    3713.384033
2019-04-13    3018.680908
2019-04-14    2840.593018
2019-04-15    3690.911621
2019-04-16    4261.172852
2019-04-17    3518.212891
2019-04-18    2984.760010
2019-04-19    2930.483887
2019-04-20    3012.788574
2019-04-21    3213.124023
2019-04-22    4171.526367
2019-04-23    4291.891113
2019-04-24    4230.085938
2019-04-25    3245.985107
2019-04-26    2796.289062
2019-04-27    2801.620117
2019-04-28    2822.854980
Freq: D, Name: 4, dtype: float32
trained on 0
=============================================
[3864.43403809 4086.33604999 2993.14105197 2569.06151355 2499.64227223
 2430.34708716 2362.01353136]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    3780.554443
2019-04-02    4557.111816
2019-04-03    4488.140137
2019-04-04    4143.235840
2019-04-05    3165.591064
                 ...
2019-06-08    2401.277100
2019-06-09    3531.926025
2019-06-10    3753.925049
2019-06-11    3488.598389
2019-06-12    2840.969971
Freq: D, Name: 4, Length: 73, dtype: float32
trained on 1
=============================================
[2679.94619978 2682.85981199 2814.74948471 2887.75071059 2799.8076956
 2356.77326558 2235.63346279]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    3780.554443
2019-04-02    4557.111816
2019-04-03    4488.140137
2019-04-04    4143.235840
2019-04-05    3165.591064
                 ...
2019-07-23    2062.798096
2019-07-24    1849.590454
2019-07-25    1858.432495
2019-07-26    2463.531006
2019-07-27    2524.291016
Freq: D, Name: 4, Length: 118, dtype: float32
trained on 2
=============================================
[2359.39854113 2306.64863722 2177.15812514 2095.429126   2086.8544059
 2084.39873936 2103.14026232]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    3780.554443
2019-04-02    4557.111816
2019-04-03    4488.140137
2019-04-04    4143.235840
2019-04-05    3165.591064
                 ...
2019-08-24    2320.419922
2019-08-25    1808.058960
2019-08-26    1712.203003
2019-08-27    1652.541016
2019-08-28    1326.983032
Freq: D, Name: 4, Length: 150, dtype: float32
trained on 3
=============================================
[1510.47018596 1578.56936753 1397.19203241 1267.55846825 1271.76834388
 1118.68412608 1087.12335639]
=============================================
***** Houshold 5 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01    2026.840942
2019-04-02    2383.636963
2019-04-03    2672.573975
2019-04-04    2134.566895
2019-04-05    1569.395020
2019-04-06    1377.673950
2019-04-07    1352.137939
2019-04-08    1589.556030
2019-04-09    2123.919922
2019-04-10    2327.729004
2019-04-11    2198.953613
2019-04-12    1724.215942
2019-04-13    1432.639526
2019-04-14    1375.337036
2019-04-15    2099.151123
2019-04-16    2489.356934
2019-04-17    1828.249023
2019-04-18    1569.010498
2019-04-19    1531.861450
2019-04-20    1477.859985
2019-04-21    1677.693481
2019-04-22    2224.957031
2019-04-23    2449.787598
2019-04-24    2328.185547
2019-04-25    1545.521973
2019-04-26    1349.227051
2019-04-27    1231.134033
2019-04-28    1341.036987
Freq: D, Name: 5, dtype: float32
trained on 0
=============================================
[1951.52622329 2192.28511891 2291.60306241 2049.49722496 1914.53251
 1823.97200199 1933.43818352]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01    2026.840942
2019-04-02    2383.636963
2019-04-03    2672.573975
2019-04-04    2134.566895
2019-04-05    1569.395020
                 ...
2019-06-08    1219.563965
2019-06-09    1803.505005
2019-06-10    1941.650024
2019-06-11    1824.429443
2019-06-12    1408.509033
Freq: D, Name: 5, Length: 73, dtype: float32
trained on 1
=============================================
[1181.87357662 1280.88386202 1267.6217912  1454.60470555 1345.91678213
 1123.9061189  1000.23810531]
=============================================
[Timestamp('2019-07-28 00:00:00'), Timestamp('2019-07-29 00:00:00'), Timestamp('2019-07-30 00:00:00'), Timestamp('2019-07-31 00:00:00'), Timestamp('2019-08-01 00:00:00'), Timestamp('2019-08-02 00:00:00'), Timestamp('2019-08-03 00:00:00')]
target:  2019-04-01    2026.840942
2019-04-02    2383.636963
2019-04-03    2672.573975
2019-04-04    2134.566895
2019-04-05    1569.395020
                 ...
2019-07-23     978.060974
2019-07-24     893.515991
2019-07-25     882.356506
2019-07-26    1496.462524
2019-07-27    1558.130005
Freq: D, Name: 5, Length: 118, dtype: float32
trained on 2
=============================================
[1522.86139064 1471.76051843 1357.66055251 1423.50207844 1412.65512028
 1483.89638812 1486.78359209]
=============================================
[Timestamp('2019-08-29 00:00:00'), Timestamp('2019-08-30 00:00:00'), Timestamp('2019-08-31 00:00:00'), Timestamp('2019-09-01 00:00:00'), Timestamp('2019-09-02 00:00:00'), Timestamp('2019-09-03 00:00:00'), Timestamp('2019-09-04 00:00:00')]
target:  2019-04-01    2026.840942
2019-04-02    2383.636963
2019-04-03    2672.573975
2019-04-04    2134.566895
2019-04-05    1569.395020
                 ...
2019-08-24    1344.474976
2019-08-25     806.567993
2019-08-26     707.745972
2019-08-27     704.239014
2019-08-28     573.143005
Freq: D, Name: 5, Length: 150, dtype: float32
trained on 3
=============================================
[670.87681706 644.41727078 530.40436891 443.6014462  433.45181876
 390.60136416 388.09204775]
=============================================
***** Houshold 6 dataset created ******
[Timestamp('2019-04-29 00:00:00'), Timestamp('2019-04-30 00:00:00'), Timestamp('2019-05-01 00:00:00'), Timestamp('2019-05-02 00:00:00'), Timestamp('2019-05-03 00:00:00'), Timestamp('2019-05-04 00:00:00'), Timestamp('2019-05-05 00:00:00')]
target:  2019-04-01     884.874512
2019-04-02    1143.048218
2019-04-03    1108.149048
2019-04-04     939.702026
2019-04-05     733.520020
2019-04-06     614.927002
2019-04-07     645.033020
2019-04-08     731.752014
2019-04-09     981.862976
2019-04-10    1081.893555
2019-04-11     963.692993
2019-04-12     789.098022
2019-04-13     664.283508
2019-04-14     591.005981
2019-04-15     845.682007
2019-04-16     987.338013
2019-04-17     822.044983
2019-04-18     693.390503
2019-04-19     660.259521
2019-04-20     675.006470
2019-04-21     759.310974
2019-04-22    1048.959473
2019-04-23    1091.872559
2019-04-24     968.918518
2019-04-25     711.813965
2019-04-26     607.482971
2019-04-27     612.161987
2019-04-28     628.833984
Freq: D, Name: 6, dtype: float32
trained on 0
=============================================
[820.43495722 861.42507029 729.75892604 680.30155454 680.8352729
 668.2267255  671.009777  ]
=============================================
[Timestamp('2019-06-13 00:00:00'), Timestamp('2019-06-14 00:00:00'), Timestamp('2019-06-15 00:00:00'), Timestamp('2019-06-16 00:00:00'), Timestamp('2019-06-17 00:00:00'), Timestamp('2019-06-18 00:00:00'), Timestamp('2019-06-19 00:00:00')]
target:  2019-04-01     884.874512
2019-04-02    1143.048218
2019-04-03    1108.149048
2019-04-04     939.702026
2019-04-05     733.520020
                 ...
2019-06-08     491.730988
2019-06-09     744.106018
2019-06-10     858.734985
2019-06-11     768.070007
2019-06-12     623.783997
Freq: D, Name: 6, Length: 73, dtype: float32
trained on 1
=============================================
[562.77932896 595.41744307 628.40083904 694.33080122 659.87639642
 585.41495862 569.77554527]
=============================================

In [218]:
"""all_predictions = []

start_time = time.time()


for houshold in data_.columns:
    houshold_predictions = []
    print("***** Houshold " + str(houshold) + " dataset created ****** ")
    for week in range(len(weeks_test_date)):
        #print("week "+  str(week) + " splitting started")
        result = create_features(houshold)
        features, target, features_predict, target_predict = data_split_accumlated(result, weeks_test_date, week, houshold)

        clf = linear_model.Lasso(alpha=0.1)
        clf.fit(features, target)

        print("trained on " + str(week))

        prediction_lasso = clf.predict(features_predict)
        houshold_predictions.append(prediction_lasso)

        week_timestamps = weeks_test_date[week]

        target_predict['predict'] = prediction_lasso
        df.loc[week_timestamps[0]:week_timestamps[6],houshold] = target_predict['predict']
        print("=============================================")
        print(prediction_lasso)
        #print(df.loc[week_timestamps[0]:week_timestamps[6],houshold])
        print("=============================================")
    all_predictions.append(houshold_predictions)
print("--- %s seconds ---" % (time.time() - start_time))"""

'all_predictions = []\n\nstart_time = time.time()\n\n\nfor houshold in data_.columns:\n    houshold_predictions = []\n    print("***** Houshold " + str(houshold) + " dataset created ****** ")\n    for week in range(len(weeks_test_date)):\n        #print("week "+  str(week) + " splitting started")\n        result = create_features(houshold)\n        features, target, features_predict, target_predict = data_split_accumlated(result, weeks_test_date, week, houshold)\n\n        clf = linear_model.Lasso(alpha=0.1)\n        clf.fit(features, target)\n\n        print("trained on " + str(week))\n\n        prediction_lasso = clf.predict(features_predict)\n        houshold_predictions.append(prediction_lasso)\n\n        week_timestamps = weeks_test_date[week]\n\n        target_predict[\'predict\'] = prediction_lasso\n        df.loc[week_timestamps[0]:week_timestamps[6],houshold] = target_predict[\'predict\']\n        print("=============================================")\n        print(prediction_lasso)\n        #print(df.loc[week_timestamps[0]:week_timestamps[6],houshold])\n        print("=============================================")\n    all_predictions.append(houshold_predictions)\nprint("--- %s seconds ---" % (time.time() - start_time))'

In [219]:
weeks_columns = [week for weeks in weeks_test_date for week in weeks]

[Timestamp('2019-04-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-05-02 00:00:00'),
 Timestamp('2019-05-03 00:00:00'),
 Timestamp('2019-05-04 00:00:00'),
 Timestamp('2019-05-05 00:00:00'),
 Timestamp('2019-06-13 00:00:00'),
 Timestamp('2019-06-14 00:00:00'),
 Timestamp('2019-06-15 00:00:00'),
 Timestamp('2019-06-16 00:00:00'),
 Timestamp('2019-06-17 00:00:00'),
 Timestamp('2019-06-18 00:00:00'),
 Timestamp('2019-06-19 00:00:00'),
 Timestamp('2019-07-28 00:00:00'),
 Timestamp('2019-07-29 00:00:00'),
 Timestamp('2019-07-30 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-08-02 00:00:00'),
 Timestamp('2019-08-03 00:00:00'),
 Timestamp('2019-08-29 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-08-31 00:00:00'),
 Timestamp('2019-09-01 00:00:00'),
 Timestamp('2019-09-02 00:00:00'),
 Timestamp('2019-09-03 00:00:00'),
 Timestamp('2019-09-04 00:00:00')]

In [220]:
def flatten(hous):
    return [week for weeks in hous for week in weeks]

In [221]:
flatened_predictions = []
for hous in all_predictions:
    flatened_predictions.append(flatten(hous))

In [222]:
df_from_list = pd.DataFrame([i for i in flatened_predictions], columns= [weeks_columns],index = final_index)

In [258]:
df_from_list

,pseudo_id,2019-04-29 00:00:00,2019-04-30 00:00:00,2019-05-01 00:00:00,2019-05-02 00:00:00,2019-05-03 00:00:00,2019-05-04 00:00:00,2019-05-05 00:00:00,2019-06-13 00:00:00,2019-06-14 00:00:00,...,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-29 00:00:00,2019-08-30 00:00:00,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00
0,0x16cb02173ebf3059efdc97fd1819f14a2,2832.502432,3134.833312,2407.564743,2279.955375,2168.578617,2034.394632,2119.672013,2113.654448,2104.672339,...,1850.349223,1859.731462,1853.123921,1114.379323,1172.600542,995.456198,833.622375,834.598900,754.008299,748.848364
1,0x1c9d08cd16fce04790ef900695861e786,152.293983,193.302873,170.908193,168.354048,163.389298,151.823103,155.048866,171.870083,172.482780,...,181.171746,183.439506,185.509512,83.296814,85.783757,77.514457,78.623147,75.843357,75.530368,76.885344
2,0x1612e4cbe3b1b85c3dbcaeaa504ee8424,488.192809,720.852627,340.613454,280.836270,283.952176,314.855847,266.734999,399.567815,379.415866,...,450.117298,429.697022,424.898409,283.297773,317.327054,208.125140,152.514613,149.982347,166.860417,148.932731
3,0x20158d36236a640cf0524dba149459169,3864.434038,4086.336050,2993.141052,2569.061514,2499.642272,2430.347087,2362.013531,2679.946200,2682.859812,...,2086.854406,2084.398739,2103.140262,1510.470186,1578.569368,1397.192032,1267.558468,1271.768344,1118.684126,1087.123356
4,0xc305005dcb1ed6128d816954c5ab9e7e,1951.526223,2192.285119,2291.603062,2049.497225,1914.532510,1823.972002,1933.438184,1181.873577,1280.883862,...,1412.655120,1483.896388,1486.783592,670.876817,644.417271,530.404369,443.601446,433.451819,390.601364,388.092048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0x12342fbadc0ca9418f2d540bb3cb8364a,58.747574,58.016621,48.679425,40.580964,37.543120,42.119432,36.936968,33.048017,36.171847,...,20.562497,20.742351,20.971343,16.632708,17.043289,15.229304,9.195301,8.262386,6.748691,8.211728
57,0x16d1816bc5d185c47de080d4c6a64bc9a,120.188327,133.645119,111.266649,109.731485,99.659354,87.120952,68.694801,105.798670,108.680378,...,87.133253,85.775018,86.914259,52.487205,54.882261,50.541506,49.795860,49.660025,47.925070,48.735677
58,0x14f480f24c435af1b8574c1c6bab38a1c,242.123307,264.059537,80.907908,61.371138,46.249275,28.670661,-3.838886,171.996348,176.811264,...,223.848019,225.027278,225.438672,77.427144,85.688791,74.769686,70.960652,67.013481,61.747130,63.823675
59,0x1c7fc724d0a4f89ed1de8a0a4b302db22,59.439102,68.287497,46.230467,38.679805,41.510602,31.825989,23.568513,50.007801,51.958749,...,55.433815,57.290765,56.681622,24.453170,25.391323,24.385403,18.580792,16.986403,17.005269,16.969482
60,0x187454451b5ef5c6ad7377c21d9adbfe2,166.398679,180.915397,195.104125,148.018287,143.749459,134.175777,163.819955,95.995762,112.442319,...,107.396530,116.278571,114.562312,61.746125,63.548268,52.274769,34.703484,28.886619,31.382048,28.182777

In [223]:
df_from_list.reset_index(inplace = True)
df_from_list = df_from_list.round(10)

In [247]:
df_from_list2 = df_from_list.iloc[:,1:60].clip(lower=0)
df_from_list2

,2019-04-29,2019-04-30,2019-05-01,2019-05-02,2019-05-03,2019-05-04,2019-05-05,2019-06-13,2019-06-14,2019-06-15,...,2019-08-01,2019-08-02,2019-08-03,2019-08-29,2019-08-30,2019-08-31,2019-09-01,2019-09-02,2019-09-03,2019-09-04
0,2832.502432,3134.833312,2407.564743,2279.955375,2168.578617,2034.394632,2119.672013,2113.654448,2104.672339,2195.735158,...,1850.349223,1859.731462,1853.123921,1114.379323,1172.600542,995.456198,833.622375,834.598900,754.008299,748.848364
1,152.293983,193.302873,170.908193,168.354048,163.389298,151.823103,155.048866,171.870083,172.482780,186.242427,...,181.171746,183.439506,185.509512,83.296814,85.783757,77.514457,78.623147,75.843357,75.530368,76.885344
2,488.192809,720.852627,340.613454,280.836270,283.952176,314.855847,266.734999,399.567815,379.415866,402.397865,...,450.117298,429.697022,424.898409,283.297773,317.327054,208.125140,152.514613,149.982347,166.860417,148.932731
3,3864.434038,4086.336050,2993.141052,2569.061514,2499.642272,2430.347087,2362.013531,2679.946200,2682.859812,2814.749485,...,2086.854406,2084.398739,2103.140262,1510.470186,1578.569368,1397.192032,1267.558468,1271.768344,1118.684126,1087.123356
4,1951.526223,2192.285119,2291.603062,2049.497225,1914.532510,1823.972002,1933.438184,1181.873577,1280.883862,1267.621791,...,1412.655120,1483.896388,1486.783592,670.876817,644.417271,530.404369,443.601446,433.451819,390.601364,388.092048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,58.747574,58.016621,48.679425,40.580964,37.543120,42.119432,36.936968,33.048017,36.171847,39.943975,...,20.562497,20.742351,20.971343,16.632708,17.043289,15.229304,9.195301,8.262386,6.748691,8.211728
57,120.188327,133.645119,111.266649,109.731485,99.659354,87.120952,68.694801,105.798670,108.680378,109.537971,...,87.133253,85.775018,86.914259,52.487205,54.882261,50.541506,49.795860,49.660025,47.925070,48.735677
58,242.123307,264.059537,80.907908,61.371138,46.249275,28.670661,0.000000,171.996348,176.811264,183.507151,...,223.848019,225.027278,225.438672,77.427144,85.688791,74.769686,70.960652,67.013481,61.747130,63.823675
59,59.439102,68.287497,46.230467,38.679805,41.510602,31.825989,23.568513,50.007801,51.958749,53.818387,...,55.433815,57.290765,56.681622,24.453170,25.391323,24.385403,18.580792,16.986403,17.005269,16.969482
60,166.398679,180.915397,195.104125,148.018287,143.749459,134.175777,163.819955,95.995762,112.442319,111.739798,...,107.396530,116.278571,114.562312,61.746125,63.548268,52.274769,34.703484,28.886619,31.382048,28.182777

In [263]:
idx = 0
df_from_list2.insert(loc=idx, column= 'pseudo_id', value=final_index)

In [264]:
df_from_list2

,pseudo_id,2019-04-29 00:00:00,2019-04-30 00:00:00,2019-05-01 00:00:00,2019-05-02 00:00:00,2019-05-03 00:00:00,2019-05-04 00:00:00,2019-05-05 00:00:00,2019-06-13 00:00:00,2019-06-14 00:00:00,...,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-29 00:00:00,2019-08-30 00:00:00,2019-08-31 00:00:00,2019-09-01 00:00:00,2019-09-02 00:00:00,2019-09-03 00:00:00,2019-09-04 00:00:00
0,0x16cb02173ebf3059efdc97fd1819f14a2,2832.502432,3134.833312,2407.564743,2279.955375,2168.578617,2034.394632,2119.672013,2113.654448,2104.672339,...,1850.349223,1859.731462,1853.123921,1114.379323,1172.600542,995.456198,833.622375,834.598900,754.008299,748.848364
1,0x1c9d08cd16fce04790ef900695861e786,152.293983,193.302873,170.908193,168.354048,163.389298,151.823103,155.048866,171.870083,172.482780,...,181.171746,183.439506,185.509512,83.296814,85.783757,77.514457,78.623147,75.843357,75.530368,76.885344
2,0x1612e4cbe3b1b85c3dbcaeaa504ee8424,488.192809,720.852627,340.613454,280.836270,283.952176,314.855847,266.734999,399.567815,379.415866,...,450.117298,429.697022,424.898409,283.297773,317.327054,208.125140,152.514613,149.982347,166.860417,148.932731
3,0x20158d36236a640cf0524dba149459169,3864.434038,4086.336050,2993.141052,2569.061514,2499.642272,2430.347087,2362.013531,2679.946200,2682.859812,...,2086.854406,2084.398739,2103.140262,1510.470186,1578.569368,1397.192032,1267.558468,1271.768344,1118.684126,1087.123356
4,0xc305005dcb1ed6128d816954c5ab9e7e,1951.526223,2192.285119,2291.603062,2049.497225,1914.532510,1823.972002,1933.438184,1181.873577,1280.883862,...,1412.655120,1483.896388,1486.783592,670.876817,644.417271,530.404369,443.601446,433.451819,390.601364,388.092048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0x12342fbadc0ca9418f2d540bb3cb8364a,58.747574,58.016621,48.679425,40.580964,37.543120,42.119432,36.936968,33.048017,36.171847,...,20.562497,20.742351,20.971343,16.632708,17.043289,15.229304,9.195301,8.262386,6.748691,8.211728
57,0x16d1816bc5d185c47de080d4c6a64bc9a,120.188327,133.645119,111.266649,109.731485,99.659354,87.120952,68.694801,105.798670,108.680378,...,87.133253,85.775018,86.914259,52.487205,54.882261,50.541506,49.795860,49.660025,47.925070,48.735677
58,0x14f480f24c435af1b8574c1c6bab38a1c,242.123307,264.059537,80.907908,61.371138,46.249275,28.670661,0.000000,171.996348,176.811264,...,223.848019,225.027278,225.438672,77.427144,85.688791,74.769686,70.960652,67.013481,61.747130,63.823675
59,0x1c7fc724d0a4f89ed1de8a0a4b302db22,59.439102,68.287497,46.230467,38.679805,41.510602,31.825989,23.568513,50.007801,51.958749,...,55.433815,57.290765,56.681622,24.453170,25.391323,24.385403,18.580792,16.986403,17.005269,16.969482
60,0x187454451b5ef5c6ad7377c21d9adbfe2,166.398679,180.915397,195.104125,148.018287,143.749459,134.175777,163.819955,95.995762,112.442319,...,107.396530,116.278571,114.562312,61.746125,63.548268,52.274769,34.703484,28.886619,31.382048,28.182777

In [248]:
df_from_list2.to_csv("./sample_submission_DAILY_max_new_features_FILTERED_float32_ROUND_CLIPPED.csv", index = False)

In [249]:
hourly = pd.read_csv("/home/max/PycharmProjects/ai-cup-makcfd/Linear_regression/sample_submission_HOURLY_max_eval_new_features_FILTERED_float32_ROUND.csv")

In [252]:
hourly2 = hourly.iloc[:,1:].clip(lower=0)

In [265]:
idx = 0
hourly2.insert(loc=idx, column= 'pseudo_id', value=final_index)
hourly2

,pseudo_id,2019-04-29 00:00:00,2019-04-29 01:00:00,2019-04-29 02:00:00,2019-04-29 03:00:00,2019-04-29 04:00:00,2019-04-29 05:00:00,2019-04-29 06:00:00,2019-04-29 07:00:00,2019-04-29 08:00:00,...,2019-09-04 14:00:00,2019-09-04 15:00:00,2019-09-04 16:00:00,2019-09-04 17:00:00,2019-09-04 18:00:00,2019-09-04 19:00:00,2019-09-04 20:00:00,2019-09-04 21:00:00,2019-09-04 22:00:00,2019-09-04 23:00:00
0,0x16cb02173ebf3059efdc97fd1819f14a2,108.237828,58.244566,52.456770,32.791156,25.772362,27.289895,22.204257,19.933832,20.604757,...,4.800711e+01,4.800711e+01,4.800711e+01,4.800711e+01,4.800711e+01,4.801512e+01,4.801512e+01,4.801512e+01,4.801512e+01,4.801512e+01
1,0x1c9d08cd16fce04790ef900695861e786,7.415428,5.404350,5.184286,3.914106,3.162559,3.090970,2.402750,0.851465,0.928284,...,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11,1.922762e+11
2,0x1612e4cbe3b1b85c3dbcaeaa504ee8424,17.977447,7.586570,7.248970,5.526705,6.345112,6.744465,6.008902,5.432672,4.942715,...,1.219413e+01,1.219413e+01,1.219413e+01,1.219413e+01,1.219413e+01,1.207853e+01,1.207853e+01,1.207853e+01,1.207853e+01,1.207853e+01
3,0x20158d36236a640cf0524dba149459169,129.206525,56.670246,43.788488,40.362859,36.318655,33.327053,28.593457,23.798991,21.047506,...,6.408693e+01,6.408693e+01,6.408693e+01,6.408693e+01,6.408693e+01,6.408741e+01,6.408741e+01,6.408741e+01,6.408741e+01,6.408741e+01
4,0xc305005dcb1ed6128d816954c5ab9e7e,71.390572,34.138158,36.786351,21.129550,14.582090,28.826650,35.877575,23.798011,29.945079,...,2.771043e+01,2.771043e+01,2.771043e+01,2.771043e+01,2.771043e+01,2.752175e+01,2.752175e+01,2.752175e+01,2.752175e+01,2.752175e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,0x12342fbadc0ca9418f2d540bb3cb8364a,1.969294,1.615716,1.546162,1.224698,1.006334,1.018727,0.987119,0.619406,0.761786,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
57,0x16d1816bc5d185c47de080d4c6a64bc9a,4.685548,3.248489,3.786442,4.280627,3.683102,3.321422,3.860559,4.267627,4.196557,...,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11,2.929460e+11
58,0x14f480f24c435af1b8574c1c6bab38a1c,8.552452,4.899460,4.429721,4.068588,3.825502,3.389524,3.786012,2.861039,2.372793,...,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12,1.403592e+12
59,0x1c7fc724d0a4f89ed1de8a0a4b302db22,1.971574,1.390013,1.234204,0.863781,0.786682,0.738695,0.795932,0.838963,0.715173,...,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11,1.477253e+11
60,0x187454451b5ef5c6ad7377c21d9adbfe2,5.825681,2.952981,2.814648,2.692403,2.556729,1.733770,1.859226,0.940887,1.598364,...,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11,1.777234e+11

In [232]:
daily = pd.read_csv("/home/max/PycharmProjects/ai-cup-makcfd/Linear_regression/sample_submission_DAILY_max_new_features_FILTERED_float32_ROUND_CLIPPED.csv")
hourly = pd.read_csv("/home/max/PycharmProjects/ai-cup-makcfd/Linear_regression/sample_submission_HOURLY_max_eval_new_features_FILTERED_float32_ROUND.csv")

In [253]:
daily = pd.read_csv("/home/max/PycharmProjects/ai-cup-makcfd/Linear_regression/sample_submission_DAILY_max_new_features_FILTERED_float32_ROUND_CLIPPED.csv")

In [267]:
create_submission(df_from_list2, hourly2)

wrote submission-2022-07-09_21-56-40.120700.zip